body {
    margin: 0;
    max-width: 1600px;
    background-color: #fefefd;
    color: #56534c;
    font-family: "ClearSansRegular", sans-serif;
    font-size: 16px;
    font-style: normal;
}
p {
    font-family: "ProximaNovaRegular", sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
h2 {
     font-family: "ClearSansBold", sans-serif;
     font-size:3rem;
     line-height: 1.875rem;
}
h4 {
    font-family: "ClearSansBold", sans-serif;
    color: #a78365;
    font-size: 0.875rem
    line-height:  1.875rem;

}
a {
    text-decoration: none;
}
.container {
    padding: 0 10.625%;
    margin: 0 auto;
}
/*------------------------*HEADER------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddae81;
    align-items: center;
}
.header-nav {
    background-color: rgba(144, 132, 116, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.main-menu {

}
.main-menu li {
    list-style: none;
    display: inline-block;
    padding: 0 2rem;

}
.main-link {
    color: #e2dfdd;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-family: "ClearSansBold", sans-serif;
}
.social {
    font-size: 0;
    position: relative;
}
.social .social-btn-vk {
    height: 35px;
    width: 35px;
    position: absolute;
   background-image: url(../img/vk.svg);
   background-repeat: no-repeat;
   background-position: center;
}
.promo {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 5% 25%;
    align-items: baseline;
}

/*-----------Social-icons-hexagon--------------------*/
/*.hexagon-vk {
  position: relative;
  width: 35px;
  height: 20.21px;
  margin: 10.10px 0;
  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
  background-size: auto 40.4145px;
  background-position: center;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 24.75px;
  height: 24.75px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 5.13px;
}

/*counter transform the bg image on the caps*
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 35.0000px;
  height: 20.207259421636902px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-10.1036px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-10.1036px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-10.1036px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -12.3744px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -12.3744px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 35.0000px;
  height: 20.2073px;
  z-index: 2;
  background: inherit;
}*/
/*-----------------------------MAIN----------------------*/
#aboutus {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.text-block {

}
.text-block, .photo-block {
    width: 39.375%;
 }
 .photo-block {
     align-items: center;
     display: flex;
     height: 32.625rem;
 }
.photo-block img {
    width: 18.75rem;
    height: 15.625rem;

}
#assortment {
    width: 60.375%;
    display: flex;
    justify-content: center;
    padding: 8.75rem 15rem;
    background-color: #e8e8e1;
}
.wrap-block {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    height: 32rem;
}

.wrap-img  {
    height: 32rem;
    width: 36.25rem;
    background-color: #d5d2d0;
}
.about-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
}
.title-product {
    padding-bottom: 0.5rem;
}
.annotation-product {
    margin-top: 0;
}
.describe-product {
    text-align: center;
}
.slider-doc {
    align-self: center;
    margin-top: auto;
}
.slider-doc img {
    width: 6.25rem;
    height: 6.25rem;
}
#quality {
    display: flex;
    justify-content: space-around;
    background-color: #454859;
    color: #ffffff;
    padding: 3rem 0;
}
.wrap-doc-info {
        width: 39.635%;
        text-align: center;

}
.doc-wrap {
    width: 27.375rem;
    height: 37.5rem;
    background-color: #f3f1e9;
}
.name-document {
    font-size: 1.875rem;
    line-height: 1.875rem;
    font-family: "ClearSansBold", sans-serif;
    color: #ffffff;
    background-color: #dfc691;
    padding: 0.6rem 1.2rem;
    background-color: #dfc691;
    outline-color: #dfc691;
    border-radius: 0.3rem;
}
