body {
    margin: 0;
    max-width: 1600px;
    background-color: #fefefd;
    color: #56534c;
    font-family: "ClearSansRegular", sans-serif;
    font-size: 16px;
    font-style: normal;
}
p {
    font-family: "ProximaNovaRegular", sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
h2 {
     font-family: "ClearSansBold", sans-serif;
     font-size:3rem;
     line-height: 1.875rem;
     text-align: center;
}
h4 {
    font-family: "ClearSansBold", sans-serif;
    color: #a78365;
    font-size: 0.875rem
    line-height:  1.875rem;

}
a {
    text-decoration: none;
}
.container {
    padding: 0 10.625%;
    margin: 0 auto;
}
/*------------------------*HEADER------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddae81;
    align-items: center;
}
.header-nav {
    background-color: rgba(144, 132, 116, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.main-menu {

}
.main-menu li {
    list-style: none;
    display: inline-block;
    padding: 0 2rem;

}
.main-link {
    color: #e2dfdd;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-family: "ClearSansBold", sans-serif;
}
.social {
    font-size: 0;
    display: flex;
}
.social-btn {
    height: 35px;
    width: 35px;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../img/sprite.png);
}
.social .social-btn-vk {
    top: -5px;
    left: 8px;
    background-position: -5px -121px;

}
.social .social-btn-fb {
    top: -11px;    
    left: 10px;
    background-position: -8px -82px;
}
.promo {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 5% 25%;
    align-items: baseline;
}

/*-----------Social-icons-hexagon--------------------*/
.hexagon {
  position: relative;
  width: 40px;
  height: 23.09px;
  background-color: #64C7CC;
  margin: 11.55px 2px;
  position: relative;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 11.55px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid #64C7CC;
}
/*-----------------------------MAIN----------------------*/
#aboutus {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.text-block {

}
.text-block, .photo-block {
    width: 39.375%;
 }
 .photo-block {
     align-items: center;
     display: flex;
     height: 32.625rem;
 }
.photo-block img {
    width: 18.75rem;
    height: 15.625rem;

}
#assortment {
    width: 60.375%;
    display: flex;
    justify-content: center;
    padding: 8.75rem 15rem;
    background-color: #e8e8e1;
}
.wrap-block {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    height: 32rem;
}

.wrap-img  {
    height: 32rem;
    width: 36.25rem;
    background-color: #d5d2d0;
}
.about-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
}
.title-product {
    padding-bottom: 0.5rem;
}
.annotation-product {
    margin-top: 0;
}
.describe-product {
    text-align: center;
}
.slider-doc {
    align-self: center;
    margin-top: auto;
}
.slider-doc img {
    width: 6.25rem;
    height: 6.25rem;
}
#quality {
    display: flex;
    justify-content: space-around;
    background-color: #454859;
    color: #ffffff;
    padding: 3% 0.5%;
    width: 100%;
}
.wrap-doc-info {
        width: 39.635%;
        text-align: center;

}
.doc-wrap {
    width: 27.375rem;
    height: 37.5rem;
    background-color: #f3f1e9;
}
.name-document {
    font-size: 1.875rem;
    line-height: 1.875rem;
    font-family: "ClearSansBold", sans-serif;
    color: #ffffff;
    background-color: transparent;
    padding: 0.6rem 1.2rem;
    outline-color: #dfc691;
    border-radius: 0.3rem;
    cursor: pointer;
}
.name-document:hover {
    color: #454859;
    background-color: #ffffff;
}
.name-document:active {
    color: #363946 ;
}
#distributers{
    background-color:#e3dfd6;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 3% 0.5%;

}
.wrap-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.where-buy {
        text-align: center;
}
.city-avatar {
    width: 6.25rem;
    height: 6.25rem;
}
.map {
    width: 42.8125%;
    height: 35.625rem;
    border: 0.625rem solid #ffffff;
}
